.wrapper {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  margin: 5px 0 0 0;
}

.platform {
  position: relative;
  width: 376px;
  height: 205px;
  background-image: url('../../assests/platform.png');
}