.wrapper {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding: 40px 30px 30px 30px;
  justify-content: space-between;
}

.lives {
  display: flex;
  list-style: none;
}

.lives li {
  margin: 0 7px 0 0;
}