* {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 40px 0 40px 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 16px;
  background: #2e3440 url('./assests/bg.jpg') repeat-y;
  background-position: top center;
  /* animation: bg-animation 30s linear infinite; */
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

x
form {
  width: 300px;
  max-width: 100%;
  min-width: 0;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  font-size: 20px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  border: 0;
  padding: 17px 25px;
}

.form-row {
  margin: 50px 0 0 0;
  text-align: center;
}

.form-row__input {
  position: relative;
  width: 400px;
}

.form-row__input::after,
.form-row__input::before {
  z-index: -1;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
}

.form-row__input::after {
  top: -10px;
  left: -10px;
}

.form-row__input::before{
  bottom: -10px;
  right: -10px;
}

.form-row__input--invalid::after,
.form-row__input--invalid::before {
  background-color: #de1800;
}

button {
  position: relative;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  font-family: 'Press Start 2P', cursive;
}

button::after,
button::before {
  z-index: -1;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
}

button::after {
  top: -4px;
  left: -4px;
}

button::before{
  bottom: -4px;
  right: -4px;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  top: -6px;
  left: -6px;
}

button:hover::before {
  bottom: -6px;
  right: -6px;
}

button:active::before,
button:active::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

button[type="submit"] {
  border: 0;
  background-color: #44b86a;
}

button[type="submit"]::after {
  background-color: #c0eecf;
}

button[type="submit"]::before {
  background-color: #1e7440;
}

.container {
  height: 100%;
  padding: 0 30px;
}

/* Animation For Bg */

@keyframes bg-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 1080px;
  }
}

/* Media */